<% provide(:title, 'Help -') %>
<div class='help-page'>
  <h1>Redmine guide</h1>
  <br/>
  <h3>Installation guide</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineInstall'
      target='_blank'>Installing Redmine</a>
    </li>
    <ul>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/EmailConfiguration'
        target='_blank'>Email configuration</a>
      </li>
    </ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineUpgrade'
      target='_blank'>Upgrading an existing installation</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineMigrate'
      target='_blank'>Migrating from other systems</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineBackupRestore'
      target='_blank'>Backing up and restoring Redmine</a>
    </li>
  </ul>

  <h3>Administrator guide</h3>
  <p>All following configuration settings can only be accessed and controlled by
    administrators, i.e. by users that have got the administrator flag checked.</p>

  <h3>Common configuration</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineProjects'
      target='_blank'>Managing projects</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineUsers'
      target='_blank'>Managing users</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineGroups'
      target='_blank'>Managing groups</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRoles'
      target='_blank'>Roles and permissions</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineIssueTrackingSetup'
      target='_blank'>Issue tracking system</a>
    </li>

    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineCustomFields'
      target='_blank'>Custom fields</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineEnumerations'
      target='_blank'>Enumerations</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineSettings'
      target='_blank'>Application settings</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineAdminInformation'
      target='_blank'>Administration information</a>
    </li>
  </ul>

  <h3>Advanced configuration</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRepositories'
      target='_blank'>Configuring repositories</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineReceivingEmails'
      target='_blank'>Receiving emails</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineReminderEmails'
      target='_blank'>Sending reminder emails</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineLDAP'
      target='_blank'>LDAP Authentication</a>
    </li>
  </ul>

  <h3>Maintenance operations</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRake'
      target='_blank'>Rake tasks</a>
    </li>
  </ul>

  <h3>User guide</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/Getting_Started'
      target='_blank'>Getting Started</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineAccounts'
      target='_blank'>User accounts</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineLogin'
      target='_blank'>Login</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRegister'
      target='_blank'>Register</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineSearch'
      target='_blank'>Search</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineMyPage'
      target='_blank'>My page</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineProjectOverview'
      target='_blank'>Project overview</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineProjectActivity'
      target='_blank'>Project activity</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineIssues'
      target='_blank'>Issue tracking</a>
    </li>
    <ul>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineIssueList'
        target='_blank'>Issue list</a>
      </li>
      <ul>
        <li>
          <a href='https://www.redmine.org/projects/redmine/wiki/RedmineIssueSummary'
          target='_blank'>Issue summary</a>
        </li>
      </ul>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRoadmap'
        target='_blank'>Roadmap</a>
      </li>
      <ul>
        <li>
          <a href='https://www.redmine.org/projects/redmine/wiki/RedmineVersion'
          target='_blank'>Version overview</a>
        </li>
      </ul>
    </ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTimeTracking'
      target='_blank'>Time tracking</a>
    </li>
    <ul>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTimelogDetails'
        target='_blank'>Spent-time details</a>
      </li>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTimelogReport'
        target='_blank'>Spent-time report</a>
      </li>
    </ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineGantt'
      target='_blank'>Gantt</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineCalendar'
      target='_blank'>Calendar</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineNews'
      target='_blank'>News</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineDocuments'
      target='_blank'>Documents</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineFiles'
      target='_blank'>Files</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineForums'
      target='_blank'>Forums</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineWikis'
      target='_blank'>Wikis</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRepository'
      target='_blank'>Repository</a>
    </li>
    <ul>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRepositoryStatistics'
        target='_blank'>Statistics</a>
      </li>
    </ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineProjectSettings'
      target='_blank'>Project settings</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineAttachedFiles'
      target='_blank'>Files attached to Redmine resources</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTextFormatting'
      target='_blank'>Text formatting in Redmine</a>
    </li>
    <ul>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTextFormattingTextile'
        target='_blank'>Textile</a>
      </li>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTextFormattingMarkdown'
        target='_blank'>Markdown</a>
      </li>
      <li>
        <a href='https://www.redmine.org/projects/redmine/wiki/RedmineCodeHighlightingLanguages'
        target='_blank'>Code highlighting supported languages</a>
      </li>
    </ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineKeyboardNavigation'
      target='_blank'>Keyboard Navigation</a>
    </li>
  </ul>
  <h1>Developer guide</h1>
  <h3>General development</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/Rest_api'
      target='_blank'>Redmine REST API</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/Contribute#Code-Related'
      target='_blank'>Code related topics</a>
    </li>
    <li>Creating and applying
      <a href='https://www.redmine.org/projects/redmine/wiki/Patch'
      target='_blank'>patches</a>
    </li>
    <li>An
      <a href='https://www.redmine.org/projects/redmine/wiki/ReleaseManagement'
      target='_blank'>explanation</a>of what changes may be in future Redmine releases
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/List_of_vendored_third-party_core_components'
      target='_blank'>List of vendored third-party core components</a>
    </li>
    <li>
      <a href='https://www.rubydoc.info/github/redmine/redmine/index'
      target='_blank'>Classes and methods of Redmine source code</a>
    </li>
  </ul>

  <h3>Plugin development</h3>
  <ul>
    <li>A step-by-step
      <a href=''
      target='_blank'> tutorial</a>on writing a Redmine plugin
    </li>
    <li>A description of the
      <a href=''
      target='_blank'> internal handling of Redmine plugins</a>
    </li>
    <li>A description of the
      <a href=''
      target='_blank'> Redmine plugin hooks API</a>
    </li>
    <li>An incomplete
      <a href=''
      target='_blank'> list of available Redmine plugin hooks</a>
    </li>
    <li>A lsit of
      <a href=''
      target='_blank'> frequently asked questions about Redmine plugins</a>
    </li>
  </ul>

  <h3>Theme development</h3>
  <ul>
    <li>A howto (
      <a href=''
      target='_blank'>HowTo create a custom Redmine theme</a>) which explains how
      to create a custom Redmine theme
    </li>
  </ul>

  <h3>Contributing to Redmine</h3>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/Contribute'
      target='_blank'>Contribute</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/Submissions'
      target='_blank'>Submissions on redmine.org</a>
    </li>
  </ul>

  <h1>Translations of the Redmine guide</h1>
  <p>Note that the following translations may not be up to date. Please
    refer to the original English documentation if needed.</p>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/FrGuide'
      target='_blank'>French</a>
    </li>
    <li>
      <a href='http://guide.redmine.jp/'
      target='_blank'>Japanese</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RusGuide'
      target='_blank'>Russian</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/EsGuide'
      target='_blank'>Spanish</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/DeGuide'
      target='_blank'>German</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/KoGuide'
      target='_blank'>Korean</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/PtBRGuide'
      target='_blank'>Brazilian Portuguese</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/FaGuide?parent=Guide'
      target='_blank'>Persian</a>
    </li>
  </ul>
</div>