<% provide(:title, 'Home -') %>
<div class='home-page'>
  <h1>Redmine</h1>
  <p>Redmine is a flexible project management web application.
  Written using the Ruby on Rails framework, it is cross-platform and cross-database.</p>
  <p>Redmine is open source and released under the terms of the
    <a href='http://www.gnu.org/licenses/old-licenses/gpl-2.0.html'>
      GNU General Public License v2</a> (GPL)</p>

  <h3>Features</h3>
  <p>Some of the main features of Redmine are:</p>
  <ul>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineProjects'>
        Multiple Project Support</a>
    </li>
    <li>Flexible
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRoles'>
        role based access control</a>
    </li>
    <li>Flexible
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineIssues'>
        issue tracking system</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineGantt'>
        Gantt Chart</a> and
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineCalendar'>
        Calendar</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineNews'>
        News</a>,
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineDocuments'>
        documents</a>&
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineFiles'>
        files</a> management
    </li>
    <li>
      Feeds & email notifications
    </li>
    <li>Per project
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineWikis'>
        Wiki</a>
    </li>
    <li>Per project
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineForums'>
        forums</a>
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineTimeTracking'>
        Time tracking</a>
    </li><li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineCustomFields'>
        Custom fields </a>for issues, time-entries, projects and users
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRepository'>
        SCM integration </a> (SVN, CVS, Git, Mercurial and Bazaar)
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineReceivingEmails'>
        Issue creation via email</a>
    </li>
    <li>Multiple
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineLDAP'>
        LDAP authentication </a>support
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineRegister'>
        User self-registration</a>support
    </li>
    <li>
      Multilanguage support
    </li>
    <li>
      <a href='https://www.redmine.org/projects/redmine/wiki/RedmineInstall#Supported-database-back-ends'>
        Multiple databases </a>support
    </li>
  </ul>

  <p>Read more about
    <a href='https://www.redmine.org/projects/redmine/wiki/Features'>
      Redmine features.</a>
  </p>
</div>