h1, h2, h3{
  color: #555555;
}

h2{
  font-size: 1.3rem;
}
h3{
  font-size: 16px;
}
p{
  color: #333;
}
ul>li>a{
  color: #116699;
  text-decoration: none;
}

.navbar-custom{
  background-color: #3E5B76;
}

#top-menu {
  background: #3E5B76;
  color: #fff;
  height: 1.8em;
  font-size: 0.8em;
}

#top-menu .nav-link,
#top-menu .navbar-nav .nav-link,
#top-menu .navbar-nav .nav-link.active {
  font-size: 0.6rem;
  font-weight: bold;
}

#header {
  margin: 0;
  background-color: #628DB6;
  color: #f8f8f8;
}

.header-search{
  display: flex;
  align-items: center;
  position: relative;
  color: #f8f8f8;
}
#header a {
  color: #f8f8f8;
}

#main-menu li {
  float: none;
  list-style-type: none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  display: inline-block;
}

#main-menu li a{
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin: 0.5rem;
}


#main-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;

}

ul {
  list-style-type: disc;
}

.current-project{
  margin: 0.6rem;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

#quick-search #q {
  width: 130px;
  height: 24px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0.3rem;
}
#quick-search form input {
  margin-top: 0;
  margin-bottom: 0;
}

.search-btn{
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
}

#quick-search {
  margin-left: auto;
}

.search-form {
  display: flex;
}

p.notice{
  margin: 0.3rem;
  color:  #005f00;
  background-color: #DFFFDF;
  border-color: #9fcf9f;
}

.splitcontent {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.splitcontentleft {
  flex: 1;
  width: 300px;
  margin-right: 5px;
}

.box {
  padding: 6px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #e4e4e4;
  word-wrap: break-word;
  border-radius: 3px;
}

p.legend {
  color: #333;
  font-size: 0.9rem;
  transform: translateY(-21px) translateX(-144px);
  position: absolute;
}

label {
  font-size: 0.88rem;
  font-weight: bold;
  color: #505050;
}

html>body .tabular p {
  overflow: hidden;
}
.tabular p {
  margin: 0;
  padding: 3px 0 3px 0;
  padding-left: 180px;
  min-height: 2em;
  clear: left;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.required::after {
  content: ' *';
  color: #bb0000;
}

.project-box {
  list-style: none;
  padding: 0;
}

.project-item {
  margin-bottom: 20px;
}

.project-box-container {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project-box-container strong {
  color: #169;
}

.project-box-container p {
  color: #666;
}

.project-index, .help-page, .home-page{
  margin: 1rem;
}

.sidebar {
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 8px;
  background: #EEEEEE;
  border-left: 1px solid #ddd;
}

.side-button {
  display: flex;
  align-items: center;
  line-height: 1;
}

.new-button {
  margin-left: auto;
  text-decoration: none;
}

.two-buttons{
  margin-left: auto;
}

h2 {
  margin-right: 1.5rem;
}

.bi-plus-circle-fill{
  color: rgb(119, 196, 119);
}

.bi-plus-circle-fill:hover{
  color:rgb(90, 180, 90);
}

.bi-pencil-square{
  color: rgb(44, 145, 240);
}

.bi-trash3{
  color: rgb(253, 87, 87);
}


button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: revert;
  line-height: inherit;
}

.news-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.news{
  color:#169;
  text-decoration: none;
}

.news:hover{
  color: #bb0000;
}

.news-edit{
  text-decoration: none;
  margin-left: auto;
}

.added-by{
  font-size: 12px;
}

.trix-content{
  font-size: 14px;
}

.issue-show{
  background: #ffffdd;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  border: 1px solid #d7d7d7;
  border-radius: 0.1rem;
}

.strong-text{
  font-size: 14px;
}

.notes{
  border: 1px solid #d7d7d7;
  border-radius: 0.1rem;
  padding: 0.3rem;
}

.login{
  margin: 5em auto 2em auto;
  padding: 20px;
  width: 340px;
  border: 1px solid #FDBF3B;
  background-color: #FFEBC1;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-input {
  width: 300px;
  height: 30px;
  padding: 0.3rem;
}

.field {
  margin-bottom: 10px;
}

.lost-password {
  display: inline-block; /* Set the "Lost password" link to display inline */
  margin-right: 10px; /* Adjust the margin as needed to create space between elements */
}

.issue-edit{
  border: 1px solid #d7d7d7;
  padding: 1rem;
}